<div class=" row gutter__column--dt gutter__column--xdt">
  <div class="column column__dt--12 column__xdt--12">
    <div class="article">
      <h1 class="article__title">Card</h1>
      <div class="article__content">
        <p>Card represents collection of information related to a single item.</p>
        <p>Cards may contain a photo, text, and a link about a single subject.
          They may display content containing elements of varying size, such as photos with captions of variable length.</p>
      </div>
    </div>

    <div class="article">
      <h1 class="article__title">Usage</h1>
      <div class="article__content">
        <p>Simple card with photo, title and subtitle and text</p>
        <a href="">Source code link</a>
      </div>
    </div>
  </div>

  <div class="column column__dt--6 column__xdt--6">
    <div class="card-paper">
      <div class="media-paper media-paper--16-9 bg-orange">
        <div class="media-paper-content ">
        </div>
      </div>
      <div class="card-paper__content">
        Again, the flex-start, flex-end, and center values are straightforward.
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
      </div>
      <div class="media-paper media-paper--16-9 bg-cyan">
        <div class="media-paper-content" ></div>
      </div>
      <div class="card-paper__content">
        Again, the flex-start, flex-end, and center values are straightforward.
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="media-paper media-paper--16-9 bg-red">
        <div class="media-paper-content" ></div>
      </div>
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
      <div class="card-paper__content">
        Again, the flex-start, flex-end, and center values are straightforward. stretch is also fairly simple: it causes Flex Items to be stretched out from the Cross Start to the Cross End. baseline causes Flex Items to be aligned along their baseline. Baselines are calculated based on the content of the Flex Items. This is best explained by the following image from the Flexbox specification
      </div>
    </div>
    <div class="card-paper">
      <div class="media-paper media-paper--16-9 bg-green">
        <div class="media-paper-content" ></div>
      </div>

      <div class="action-paper">
        <div class="action-paper-right">
          <i class="icon-small  material-icons  toolbar-icon">reply</i>
          <i class="icon-small  material-icons  toolbar-icon">favorite</i>
          <i class="icon-small  material-icons  toolbar-icon">bookmark</i>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
        <div class="media-paper media-paper--1-3x bg-orange">
          <div class="media-paper-content">
          </div>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="media-paper media-paper--1-1 bg-blue-grey">
        <div class="media-paper-content" ></div>

      </div>
      <div class="card-paper__footer">
        <div class="card-paper__footer--overlay"></div>
        <div class="title-paper title-paper-twoline-big">
          <div class="title-paper-content">
            <span class="title-paper-title">Title goes here</span>
            <span class="title-paper-subtitle">Subtitle here</span>
          </div>

        </div>
        <div class="action-paper ">
          <div class="action-paper-left">
            <span class="button-paper button-paper-flat columnor-white">Action</span>
            <span class="button-paper button-paper-flat columnor-white">Action</span>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="column column__dt--6 column__xdt--6">
    <div class="card-paper">
      <div class="media-paper media-paper--16-9 bg-pink">
        <div class="media-paper-content" ></div>
      </div>
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
      </div>
      <div class="media-paper media-paper--16-9 bg-yellow">
        <div class="media-paper-content" ></div>
      </div>
      <div class="card-paper__content">
        Again, the flex-start, flex-end, and center values are straightforward.
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
      </div>
      <div class="card-paper__content">
        Again, the flex-start, flex-end, and center values are straightforward. stretch is also fairly simple: it causes Flex Items to be stretched out from the Cross Start to the Cross End. baseline causes Flex Items to be aligned along their baseline. Baselines are calculated based on the content of the Flex Items. This is best explained by the following image from the Flexbox specification
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
        <div class="media-paper media-paper--1x bg-indigo">
          <div class="media-paper-content">
          </div>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
        <div class="media-paper media-paper--2x bg-teal">
          <div class="media-paper-content">
          </div>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>
    <div class="card-paper">
      <div class="title-paper title-paper-twoline-big">
        <div class="title-paper-content">
          <span class="title-paper-title">Title goes here</span>
          <span class="title-paper-subtitle">Subtitle here</span>
        </div>
        <div class="media-paper media-paper--3x bg-ambe">
          <div class="media-paper-content">
          </div>
        </div>
      </div>
      <div class="action-paper">
        <div class="action-paper-left">
          <span class="button-paper button-paper-flat ">Action</span>
          <span class="button-paper button-paper-flat ">Action</span>
        </div>
      </div>
    </div>


  </div>

</div>