<div class="page row pad">
	<section class="page-content row ">
		<div class="paper-list row">
			<p class="subheader-paper">Single line items</p>
			<div class="paper-list__item paper-list__item--oneline">
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--oneline-big">
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--oneline">
				<div class="paper-list__item__icon">
					<i class="material-icons icon icon--small list-icon ">chat_bubble</i>
				</div>
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--oneline-avatar">
				<div class="paper-list__item__avatar">
					<i class="icon icon__avatar list-icon "></i>
				</div>
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--oneline-avatar">
				<div class="paper-list__item__avatar">
					<i class="icon icon__avatar list-icon "></i>
				</div>
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
				<div class="paper-list__item-sub-icon">
					<i class="material-icons icon icon--small list-icon ">grade</i>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--oneline-big">
				<div class="paper-list__item__avatar">
					<i class="icon icon__avatar list-icon "></i>
				</div>
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Single line item</p>
				</div>
			</div>
			<p class="subheader-paper divider">Two line items</p>
			<div class="paper-list__item paper-list__item--twoline">
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--twoline-big">
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--twoline">
				<div class="paper-list__item__icon">
					<i class="material-icons icon icon--small list-icon">chat_bubble</i>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--twoline">
				<div class="paper-list__item__avatar">
					<span class="icon icon__avatar list-icon"></span>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--twoline">
				<div class="paper-list__item__avatar">
					<span class="icon icon__avatar list-icon"></span>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
				<div class="paper-list__item-sub-icon">
					<i class="material-icons icon icon--small list-icon">grade</i>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--twoline-big">
				<div class="paper-list__item__avatar">
					<span class="icon icon__avatar list-icon"></span>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<p class="subheader-paper subheader-paper-float divider-inset">Three line items</p>
			<div class="paper-list__item paper-list__item--threeline divider">
				<div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--threeline divider-inset">
				<div class="paper-list__item__icon">
					<i class="material-icons icon icon--small list-icon">chat_bubble</i>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--threeline divider-inset">
				<div class="paper-list__item__avatar">
					<span class="icon icon__avatar list-icon"></span>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
			</div>
			<div class="paper-list__item paper-list__item--threeline divider-inset">
				<div class="paper-list__item__avatar">
					<span class="icon icon__avatar list-icon"></span>
				</div
				><div class="paper-list__item__content">
					<p class="paper-list__item__title">Two line item</p>
					<p class="paper-list__item__subtitle">Secondary line item</p>
				</div>
				<div class="paper-list__item-sub-icon">
					<i class="material-icons icon icon--small list-icon">grade</i>
				</div>
			</div>
		</div>
	</section>
</div>