
$appBar-mobile--height : 56px;
$appBar-large-device--height: 64px;
$appBar-mobile--padding: 16px;
$appBar-large-device--padding:24px;
$appBar-icon--padding: 16px 12px;
$appBar-icon--margin: 12px;
$appBar-icon-last--width: 16px;
$appBar-mobile-title--paddingLeft: 72px;
$appBar-large-device-title--paddingLeft: 80px;

$appBar-mobile-contrainer--padding: 16px;
$appBar-large-device-contrainer--padding: 20px;

$appBar-extended--height: 128px;
$appBar-extended-title-contrainer--paddingTop: 80px;
$appBar-title--fontSize: 18px;
$appBar--elevation: 4;
