/// button-paper related variables.
$button-paper--min-width: 64px;
$button-paper--height: 36px;
$dialog-button-paper--height: 36px;
$button-paper--padding: 8px;
$button-paper--margin: 6px;
$button-paper-raised--shadowcolor: #777;
$button-paper-fab--radius: 56px;
$button-paper-content--fab--width: 24px;
$button-paper--lineHeight: 24px;


$button-paperSheet--topMargin: 24px;