/// card related variables.
$card-paper-text--padding: 1em;
$card-paper-media--margin: 1em;
$card-paper-text--extraPadding: 1.5em;
$card-paper--margin: (
	'small': 0.5em,
	'large': 1em
);
$card-border-radius: 2px;
$card--elevation: 2;