$drawer-paper--padding: 16px;
$drawer-paper-mobile--leftOffset: 56px;
$drawer-paper-mobile--maxWidth: 320px;
$drawer-paper-largeDevice--maxWidth: 400px;
$drawer-paper-header-text--height: 56px;
$drawer-paper-header-content--paddingTop: 12px;
$drawer-paper--elevation: 16;
$drawer-paper-fixed-content--paddingLeft: 72px;
$drawer-paper-header-text--paddingTop: 4px;
$drawer--elevation: 16;
