$snackbar-singleLine--height: 48px;
$snackbar-singleLine--padding: 14px;

$snackbar-multiLine--height: 80px;
$snackbar-multiLine--padding: 24px;

$snackbar--fontSize: $font-body2--size;
$snackbar--background: #323232;
$snackbar--padding: 24px;
$snackbar-largeDevice--minWidth: 288px;
$snackbar-largeDevice--maxWidth: 568px;

$snackbar-text-largeDevice--padding: 48px;
$snackbar-text-mobile--padding: 24px;
$snackbar-text--lineHeight: 20px;
$snackbar-button--margin: 48px;
