$tabs-paper--minHeight: 48px;
$tab--maxWidth: 264px;
$tab--minWidth--smallScree: 72px;
$tab--minWidth--largeScree: 100px;
$tab--height: 48px;
$tab--paddingLeftRight--tablet: 12px;
$tab--paddingLeftRight--desktop: 24px;

$tab-label--paddingBottom: 20px;
$tab-label-icon--paddingBottom: 16px;

$tabs-paper--background: #00BCD4;
$tabs-paper-label--height: 48px;
$tabs-paper-label-icon--height: 72px;
$tabs-paper--paddingLeft--tablet: 72px;
$tabs-paper--paddingLeft--desktop: 80px;

$tab-label-icon--item-label--paddingTop: 10px;
$tab-label-icon--item-label--lineHeight: 14px;
$tab-label-icon--item-icon--height: 48px;
$tab-label-icon--item-icon--paddingTop: 10px;
$tab-label-icon--item-icon--paddingBottom: 10px;