$title-oneLine--height: 48px;
$title-oneLine-big--height: 80px;
$title-oneLine-avatar--height: 56px;
$title-twoLine--height: 72px;
$title-twoLine-big--height: 96px; 
$title-threeLine--height: 88px;

$prime-content--width: 72px;
$title-paper--padding: 16px;

$title-paper-contentTwoLine--paddingTop: 20px;
$title-paper-contentTwoLine--paddingBottom: 16px;
$title-paper-contentOneLine--paddingTop: 12px;
$title-paper-contentOneLine--paddingBottom: 12px;
$title-paper-contentLine-big--paddingTop: 24px;