<header class="paper-toolbar">
	<div class="paper-toolbar__left" >
		<div class="action-paper">
			<div class="action-paper-left" >
				<i class="icon icon--small  material-icons  toolbar-icon"><span class="">menu</span></i>
			</div>
		</div>
		
	</div>
	<div class="paper-toolbar__center">
		<div class="paper-toolbar__title">Material Design</div>
	</div>
	<div class="paper-toolbar__right">
		<div class="action-paper">
			<div class="action-paper-right" >
				<i class="icon icon--small  material-icons  toolbar-icon"><span class="">search</span></i>
				<i class="icon icon--small  material-icons  toolbar-icon"><span class="">favorite</span></i>
				<i class="icon icon--small  material-icons  toolbar-icon"><span class="">more_vert</span></i>
			</div>
		</div>
	</div>
</header>