<ul class="paper-list">
	<li class="paper-list__item paper-list__item--oneline paper-divider">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.card">Card</span>
	   </div>
	</li>
    <li class="paper-list__item paper-list__item--oneline paper-divider">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.list">List</span>
	   </div>
	</li>
	<li class="paper-list__item paper-list__item--oneline paper-divider">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.toolbar">Toolbar</span>
	   </div>
	</li>
	<li class="paper-list__item paper-list__item--oneline paper-divider">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.button">Button</span>
	   </div>
	</li>
	<li class="paper-list__item paper-list__item--oneline paper-divider">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.action">Action Bar</span>
	   </div>
	</li>
	<li class="paper-list__item paper-list__item--oneline">
	  <div class="paper-list__item__content">
	    <span class="paper-list__item__title" ui-sref="component.grid">Grid</span>
	   </div>
	</li>
</ul>